*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;

    @include screen(medium) {
        font-size: 80%;
    }
    
    @include screen(small) {
        font-size: 70%;
    }
}

body {
    font-family: "Fira Sans", sans-serif;
    color: $grey-darkest;
    font-weight: 300;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

p {
    line-height: 1.5rem;
    font-weight: 300;
}