@mixin flexCenter($align-items: flex-start, $justify-content: flex-start) {
    display: flex;
    align-items: $align-items;
    justify-content: $justify-content;
}

@mixin screen($breakpoint) {
	@if $breakpoint == xs {
		@media only screen and (max-width: 40.6em) { @content }; //650px
	}
	@if $breakpoint == small {
		@media only screen and (max-width: 48em) { @content }; //768px
	}
	@if $breakpoint == medium {
		@media only screen and (max-width: 64em) { @content }; //1024px
	}
	@if $breakpoint == large {
		@media only screen and (max-width: 94em) { @content }; //1500px
	}
	@if $breakpoint == xl {
		@media only screen and (min-width: 112.5em) { @content }; //1800px
	}
}