@mixin flexCenter($align-items: flex-start, $justify-content: flex-start) {
    display: flex;
    align-items: $align-items;
    justify-content: $justify-content;
}

@mixin screen($breakpoint) {
	@if $breakpoint == mobile {
		@media only screen and (max-width: 36.9em) { @content }; //590px
	}
	@if $breakpoint == xs {
		@media only screen and (max-width: 40.6em) { @content }; //650px
	}
	@if $breakpoint == small {
		@media only screen and (max-width: 48em) { @content }; //768px
	}
	@if $breakpoint == medium {
		@media only screen and (max-width: 64em) { @content }; //1024px
	}
	@if $breakpoint == hd {
		@media
			only screen and ( min--moz-device-pixel-ratio: 1.25),
			only screen and ( min-device-pixel-ratio: 1.25),
			only screen and ( min-resolution: 200dpi),
			only screen and ( min-resolution: 1.25dppx)
    	{ @content }
	}

}