@import "./_animations";
@import './_variables';

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

.task-link {
    color: $grey-darkest;
    text-decoration: underline;

    &:hover {
        color: white;
    }
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Fira Sans", sans-serif;
    color: $grey-darkest;
    font-weight: 300;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

p {
    line-height: 1.5rem;
    font-weight: 300;
}